<div id="collapsible_table">
    <table class="{{ table_css_class }}">
        <thead>
            <tr>
                {% for field in fields %}
                    <th class="{{ field.header_css_class }}">
                        {% if field.sortable %}
                            <a href=""
                               hx-target="#collapsible_table"
                               hx-get="?sort={{ field.name }}">{{ field.name }}</a>
                            {% if field.name|lower == sorting_field %}<i class="bi bi-sort-alpha-down"></i>{% endif %}
                        {% else %}
                            {{ field.name }}
                        {% endif %}
                    </th>
                {% endfor %}
                <th class="{{ expand_header_css_class }}"></th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    {% for item in row.items %}<td class="{{ item.style }}">{{ item.value }}</td>{% endfor %}
                    {% if row.child_table is not None %}
                        <td>
                            <div style="cursor: pointer"
                                 _="on click toggle the *display of #detail_{{ row.items.0.value }} then toggle between .bi-arrows-expand and .bi-arrows-collapse "
                                 class="bi-arrows-expand"></div>
                        </td>
                    {% endif %}
                </tr>
                {% if row.child_table is not None %}
                    <tr style="display:none" id="detail_{{ row.items.0.value }}">
                        <td colspan="{{ child_col_span }}">{{ row.child_table }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
